[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "*"
pydantic = "*"
pydantic-settings = "*"
python-multipart = "*"
pyjwt = "*"
pypika = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
dev = "uvicorn app.main:app --reload"
